<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">

<link rel="import" href="shared-styles.html">


<dom-module id="gh-home">

	<template>
		<style include="shared-styles iron-flex iron-flex-alignment" is="custom-style">
			:host {
				display: block;
				padding: 10px;
			}
			/*      paper-item span {
        padding: 15px;
        font-weight: 100;
font-size: 14px;
        
      }
      */
			
			.going {
				font-weight: 800;
				color: green;
			}
			
			paper-toggle-button {
				--paper-toggle-button-checked-button-color: green;
				--paper-toggle-button-checked-bar-color: green;
        padding-top:10px;
			}
			
			paper-toggle-button.green::shadow {
				background-color: green;
			}
			
			.circle {
				color: #fff;
				background: #3FA7C9;
			}
			
			.card {
				margin: 24px 4px 24px 4px;
				padding: 16px 4px 16px 4px;
				font-size: 16px;
			}
      .eventitem{
        padding:5px 0 5px 0;
      }
      .dates{
        padding:0 5px 0 0;
        font-weight: bold;
      }
		</style>



		<template is="dom-repeat" items="{{events}}">
			<div class="card ">
				<h1>
					<div class="circle">{{index}}</div> {{item.day}}</h1>

				<template is="dom-repeat" items="{{item.eventItems}}" as="eventitem" index-as="eventitem_no">

					<div class$="horizontal layout eventitem {{isGoingClass(eventitem.isGoing)}}">
						<div class="horizontal layout flex-1">
							<div>
								<paper-toggle-button class="green" checked="{{eventitem.isGoing}}" on-change="setIsGoing" value="{{eventitem}}"></paper-toggle-button>
							</div>
						</div>
						<div class="vertical layout flex-10">
								<div class="horizontal layout">
                  <div class="dates"> {{eventitem.start}} - {{eventitem.end}} </div> 
                  <div > {{eventitem.eventName}}</div>
                </div>   
							<div class="horizontal layout">
								<div> {{eventitem.location}}</div>
							</div>
						</div>
					</div>
				</template>
			</div>
		</template>

	</template>

	<script>
    Polymer({
      is: 'gh-home',
      	properties: {
			    goingto: {
			    	type: Object
          }
			},
      isGoingClass: function(isGoing) {
        return isGoing?'going':null;
      },
      checkIsGoing:function(){
        for (var key in this.events ) {
          for (var itemkey in this.events[key].eventItems ) {
            if(this.goingto.hasOwnProperty(this.events[key].eventItems[itemkey].id)){
              this.events[key].eventItems[itemkey].isGoing = true;
            }
          }
        }
      },
       setIsGoing: function (e) {
          if(e.target.checked){
                this.goingto[e.target.value.id] = e.target.checked;

          }else{
                delete this.goingto[e.target.value.id];
          }
          localStorage.setItem('goingto', JSON.stringify(this.goingto));
          console.log(JSON.parse(localStorage.getItem('goingto')));
          this.checkIsGoing();
      },
      ready: function() {
        var goingtoFromStorage = JSON.parse(localStorage.getItem('goingto'));
        this.goingto = goingtoFromStorage?goingtoFromStorage:{};
        
            this.events = [
          {'day':'Friday','eventItems':[
                    {'id':'1','start':'12pm','end':'10pm', 'eventName':'Check-In','location':'Concourse' },
                    {'id':'2','start':'4pm','end':'5:45pm', 'eventName':'Team Formation','location':'MPR 1 & 2' },
                    {'id':'3','start':'6pm','end':'7:30pm', 'eventName':'Opening Ceremony','location':'Arena Floor' },
                    {'id':'4','start':'7:30pm','end':'9:30pm', 'eventName':'Friday Dinner','location':'Concessions, Concourse' },
                    {'id':'5','start':'7:30pm','end':'10pm', 'eventName':'Team Formation','location':'MPR 1 & 2' },
                    {'id':'6','start':'8pm','end':'9pm', 'eventName':'Homelessness Panel','location':'Lorenzini’s' }
                    ]}  
          , {'day':'Saturday','eventItems':[   
                    {'id':'7','start':'1am','end':'n/a', 'eventName':'Team Check-In*','location':'DevPost' },
                    {'id':'8','start':'1am','end':'7:30am', 'eventName':'Morning Run','location':'Meet at Gate B' },
                    {'id':'9','start':'7:30am','end':'9:30pm', 'eventName':'Saturday Breakfast','location':'Concessions, Concourse' },
                    {'id':'10','start':'11:30am','end':'1:30pm', 'eventName':'Saturday Lunch','location':'Concessions, Concourse' },
                    {'id':'11','start':'3pm','end':'4pm', 'eventName':'Afternoon Yoga','location':'Concessions, Lorenzini’s' },
                    {'id':'12','start':'4pm','end':'5pm', 'eventName':'Snack Provided by Bullhorn','location':'Gate C, Section 207' },
                    {'id':'13','start':'6:30pm','end':'8:30pm', 'eventName':'Saturday Dinner','location':'Concessions, Concourse' },
                    {'id':'14','start':'11:30pm','end':'11:59pm', 'eventName':'Dance Party','location':'Lorenzini’s' },
                    ] }
          , {'day':'Sunday','eventItems':[   
                    {'id':'15','start':'7:30am','end':'9:30am', 'eventName':'Sunday Breakfast','location':'Concessions, Concourse' },
                    {'id':'16','start':'9am','end':'n/a', 'eventName':'Submission Deadline','location':'DevPost**' },
                    {'id':'17','start':'10am','end':'1:30pm', 'eventName':'Judging / Project Expo','location':'Arena Floor / Suites' },
                    {'id':'18','start':'10am','end':'2pm', 'eventName':'Oh So Vivant Photobooth','location':'Arena Floor' },
                    {'id':'19','start':'11:30am','end':'2pm', 'eventName':'Sunday Brunch','location':'Concessions, Concourse' },
                    {'id':'20','start':'2pm','end':'4pm', 'eventName':'Closing Ceremony','location':'Arena Floor' },
                    {'id':'21','start':'4pm','end':'n/a', 'eventName':'Buses Arrive','location':'Compton & Laclede Ave.' },
                    ] }
                    ] 

      this.checkIsGoing();
        }

        
        

    });
  </script>
</dom-module>